# 1. Load libraries and datasets.

In [1]:
%matplotlib inline

In [2]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import OrdinalEncoder

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from sklearn.feature_selection import RFE
from sklearn.pipeline import Pipeline

from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor

In [3]:
train = pd.read_csv('inputs/Train.csv')
test = pd.read_csv('inputs/Test.csv')
ss = pd.read_csv('inputs/SampleSubmission.csv')
variable_data = pd.read_csv('inputs/variable_descriptions.csv')

In [4]:
train.head()

,ward,total_households,total_individuals,target,dw_00,dw_01,dw_02,dw_03,dw_04,dw_05,...,pw_03,pw_04,pw_05,pw_06,pw_07,pw_08,ADM4_PCODE,lat,lon,NL
0,41601001: Ward 1,1674.45058,5888.20750,16.773757,0.933841,0.000846,0.005490,0.000676,0.000000,0.001372,...,0.002848,0.007537,0.000000,0.012928,0,0,ZA4161001,-29.682270,24.734743,0.292039
1,41601002: Ward 2,1736.99230,6735.33812,21.496661,0.696940,0.001253,0.004402,0.000000,0.002301,0.001323,...,0.014566,0.057127,0.019092,0.004131,0,0,ZA4161002,-29.119311,24.757737,3.207775
2,41601003: Ward 3,2403.57591,7273.04995,10.931425,0.810545,0.004517,0.008891,0.003986,0.007735,0.000956,...,0.057560,0.010358,0.001421,0.040881,0,0,ZA4161003,-29.142276,25.094093,0.000000
3,41601004: Ward 4,1740.78737,5734.49046,23.119257,0.659914,0.000000,0.006129,0.000000,0.000813,0.037245,...,0.000000,0.000669,0.000000,0.005011,0,0,ZA4161004,-29.372052,24.942867,2.038778
4,41601005: Ward 5,1730.51451,6657.23835,13.652252,0.950575,0.000655,0.001473,0.000598,0.006999,0.000818,...,0.004859,0.001290,0.000673,0.017629,0,0,ZA4161005,-29.409381,25.290165,0.000000

In [5]:
variable_data

,Column,Description,Unnamed: 2,Unnamed: 3
0,dw_00,Percentage of dwellings of type: House or bric...,NaN,NaN
1,dw_01,Percentage of dwellings of type: Traditional d...,NaN,NaN
2,dw_02,Percentage of dwellings of type: Flat or apart...,NaN,NaN
3,dw_03,Percentage of dwellings of type: Cluster house...,NaN,NaN
4,dw_04,Percentage of dwellings of type: Townhouse (se...,NaN,NaN
5,dw_05,Percentage of dwellings of type: Semi-detached...,NaN,NaN
6,dw_06,Percentage of dwellings of type: House/flat/ro...,NaN,NaN
7,dw_07,Percentage of dwellings of type: Informal dwel...,in backyard),NaN
8,dw_08,Percentage of dwellings of type: Informal dwel...,not in backyard,e.g. in an informal/squatter settlement or on...
9,dw_09,Percentage of dwellings of type: Room/flatlet ...,NaN,NaN
10,dw_10,Percentage of dwellings of type: Caravan/tent,NaN,NaN
11,dw_11,Percentage of dwellings of type: Other,NaN,NaN
12,dw_12,Percentage of dwellings of type: Unspecified,NaN,NaN
13,dw_13,Percentage of dwellings of type: Not applicable,NaN,NaN
14,psa_00,Percentage listing present school attendance a...,NaN,NaN
15,psa_01,Percentage listing present school attendance a...,NaN,NaN
16,psa_02,Percentage listing present school attendance a...,NaN,NaN
17,psa_03,Percentage listing present school attendance a...,NaN,NaN
18,psa_04,Percentage listing present school attendance a...,NaN,NaN
19,stv_00,Percentage of households with Satellite TV: Yes,NaN,NaN
20,stv_01,Percentage of households with Satellite TV: No,NaN,NaN
21,car_00,Percentage of households with a car: Yes,NaN,NaN
22,car_01,Percentage of households with a car: No,NaN,NaN
23,lln_00,Percentage listing landline ownership as: Yes,NaN,NaN
24,lln_01,Percentage listing landline ownership as: No,NaN,NaN
25,lan_00,Percentage listing language as: Afrikaans,NaN,NaN
26,lan_01,Percentage listing language as: English,NaN,NaN
27,lan_02,Percentage listing language as: IsiNdebele,NaN,NaN
28,lan_03,Percentage listing language as: IsiXhosa,NaN,NaN
29,lan_04,Percentage listing language as: IsiZulu,NaN,NaN
30,lan_05,Percentage listing language as: Sepedi,NaN,NaN
31,lan_06,Percentage listing language as: Sesotho,NaN,NaN
32,lan_07,Percentage listing language as: Setswana,NaN,NaN
33,lan_08,Percentage listing language as: Sign language,NaN,NaN
34,lan_09,Percentage listing language as: SiSwati,NaN,NaN
35,lan_10,Percentage listing language as: Tshivenda,NaN,NaN
36,lan_11,Percentage listing language as: Xitsonga,NaN,NaN
37,lan_12,Percentage listing language as: Other,NaN,NaN
38,lan_13,Percentage listing language as: Unspecified,NaN,NaN
39,lan_14,Percentage listing language as: Not applicable,NaN,NaN
40,pg_00,Percentage in population group: Black African,NaN,NaN
41,pg_01,Percentage in population group: Coloured,NaN,NaN
42,pg_02,Percentage in population group: Indian or Asian,NaN,NaN
43,pg_03,Percentage in population group: White,NaN,NaN
44,pg_04,Percentage in population group: Other,NaN,NaN
45,lgt_00,Percentage using electricity for lighting,NaN,NaN
46,pw_00,Percentage with piped water access: Piped (ta...,NaN,NaN
47,pw_01,Percentage with piped water access: Piped (ta...,NaN,NaN
48,pw_02,Percentage with piped water access: Piped (ta...,NaN,NaN
49,pw_03,Percentage with piped water access: Piped (ta...,NaN,NaN
50,pw_04,Percentage with piped water access: Piped (ta...,NaN,NaN
51,pw_05,Percentage with piped water access: Piped (ta...,NaN,NaN
52,pw_06,Percentage with piped water access: No access...,NaN,NaN
53,pw_07,Percentage with piped water access: Unspecified,NaN,NaN
54,pw_08,Percentage with piped water access: Not appli...,NaN,NaN
55,ADM4_PCODE,Code for linking row to ward in the wards shap...,NaN,NaN
56,lat,Lattitude of the center point of the ward,NaN,NaN
57,lon,Longitude of the center point of the ward,NaN,NaN
58,NL,"Nightlights value for the area arounf (lat, lon)",NaN,NaN
59,target,Percentage of women head households with incom...,NaN,NaN

In [6]:
dw_cols = [cols for cols in train if cols.startswith('dw')]
psa_cols = [cols for cols in train if cols.startswith('psa')]
stv_cols = [cols for cols in train if cols.startswith('stv')]
car_cols = [cols for cols in train if cols.startswith('car')]
lln_cols = [cols for cols in train if cols.startswith('lln')]
lan_cols = [cols for cols in train if cols.startswith('lan')]
pg_cols = [cols for cols in train if cols.startswith('pg')]
pw_cols = [cols for cols in train if cols.startswith('pw')]

# 2. Exploratory Data Analysis.

In [ ]:
train.plot(kind = 'scatter', x = 'lat', y = 'lon', alpha = 0.6, label = 'Percentage of women households with income under R19.6k out of total number of households.',
           c = 'target', cmap = plt.get_cmap('jet'), colorbar = True,
           figsize = (20, 8))

plt.title('Percentage of women households with income under R19.6k out of total number of households.')
plt.legend()

In [ ]:
corr = train[dw_cols].corr()
sns.set_style('darkgrid')
plt.figure(figsize = (20, 7))
sns.heatmap(corr.abs(), annot = True)
plt.show()

In [ ]:
corr = train[psa_cols].corr()
plt.figure(figsize = (20, 7))
sns.heatmap(corr, annot = True)
plt.show()

In [ ]:
sns.pairplot(train[stv_cols])

In [ ]:
sns.pairplot(train[car_cols])

In [ ]:
sns.pairplot(train[lln_cols])

In [ ]:
corr = train[lan_cols].corr()
plt.figure(figsize = (12, 8))
sns.heatmap(corr, cmap = 'bwr', annot = True)
plt.show()

In [ ]:
sns.pairplot(train[pg_cols])

In [ ]:
plt.figure(figsize = (12, 6))
sns.heatmap(train[pg_cols].corr(), annot = True)

In [ ]:
corr = train[pw_cols].corr()
plt.figure(figsize = (12, 5))
sns.heatmap(corr.abs(), annot = True, cmap = 'Greens')
plt.show()

In [ ]:
sns.pairplot(train[psa_cols])

In [ ]:
corr = train[psa_cols].corr()
plt.figure(figsize = (12, 8))
sns.heatmap(corr)
plt.show()

In [ ]:
train.plot(kind = 'scatter', x = 'lat', y = 'lon', alpha = 0.4, label = 'Night lights distribution.',
           c = 'NL', cmap = plt.get_cmap('jet'), colorbar = True,
           figsize = (20, 8))

plt.title('Night lights distribution.')
plt.legend()

# 3. Feature engineering.

In [7]:
# Merge columns with high correlation.
for dataset in (train, test):

    dataset['sum_of_stv_cols'] = dataset[stv_cols].sum(axis = 1)

    dataset['sum_of_car_cols'] = dataset[car_cols].sum(axis = 1)

    dataset['sum_of_lln_cols'] = dataset[lln_cols].sum(axis = 1)
    
    dataset['sum_of_dw_cols '] = dataset[dw_cols].sum(axis = 1)
    
    dataset['ratio_stv'] = dataset['stv_01'] / dataset['stv_00']
    
    dataset['ratio_car'] = dataset['car_01'] / dataset['car_00']
    
    dataset['ratio_lln'] = dataset['lln_01'] / dataset['lln_00']
    
    dataset['ratio_psa'] = dataset['psa_01'] / dataset['psa_00']

In [8]:
PATTERN = r'[\d\s]+:'

for dataset in (train, test):
    dataset['ward_cat'] = dataset['ward'].str.replace(PATTERN, '', regex=True)

In [9]:
#Implement data transformation steps.
categorical_cols = [cols for cols in train.columns if train[cols].dtype == 'object']
categorical_cols

['ward', 'ADM4_PCODE', 'ward_cat']

In [10]:
label_train = train.copy()
label_test = test.copy()

In [11]:
#Preprocessing categorical data.
encoder = OrdinalEncoder(handle_unknown= 'error')

In [12]:
#Encode categorical values.
label_train[categorical_cols] = encoder.fit_transform(label_train[categorical_cols])
label_test[categorical_cols] = encoder.fit_transform(label_test[categorical_cols])

# #Changing option to use infinite as nan.
# pd.set_option('mode.use_inf_as_na', True)
# df.dropna(inplace = True)

#Replace infinite or Nan values and drop Nan values.
label_train.replace([np.inf, -np.inf], np.nan, inplace = True)
label_train.dropna(inplace = True)

label_test.replace([np.inf, -np.inf], np.nan, inplace = True)
label_test.dropna(inplace = True)

In [13]:
cols_to_drop = ['ADM4_PCODE', 'ward']
#'stv_01', 'lln_01', 'car_01', 'total_households', 'psa_01', 'psa_02', 'psa_03', 'dw_03', 'lan_13', 'lan_06', 'psa_04', 'pw_07', 'pg_00'

In [14]:
label_train = label_train.drop(cols_to_drop, axis = 1)
label_test = label_test.drop(cols_to_drop, axis = 1 )

X = label_train.drop('target', axis = 1)
y = label_train.target
X.shape, y.shape

((2821, 69), (2821,))

In [17]:
#Create pipeline
rfe = RFE(estimator = RandomForestRegressor(), verbose = 1)
model = RandomForestRegressor()
pipeline = Pipeline(
    steps = [
        ('s', rfe), ('m', model)
    ])

In [18]:
cv = RepeatedKFold(n_splits = 3, n_repeats = 1, random_state = 42)
n_scores = cross_val_score(pipeline, X, y, scoring = 'neg_mean_absolute_error',
                           cv = cv, n_jobs = 6, verbose = 1)

print(f'MAE: {np.mean(-1 * n_scores)}, STD_DEV: {np.std(n_scores)}')

[Parallel(n_jobs=6)]: Using backend LokyBackend with 6 concurrent workers.

MAE: 2.6502596796072733, STD_DEV: 0.07520246092303219

[Parallel(n_jobs=6)]: Done   3 out of   3 | elapsed:  8.9min finished

In [20]:
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

model = RandomForestRegressor(n_estimators = 100, random_state = 42, n_jobs = 6)
model.fit(X_train, y_train)

preds = model.predict(X_test)

mse = mean_absolute_error(preds, y_test)
print(f'MAE : {mean_absolute_error(preds, y_test)}')
print(f'MSE: {np.sqrt(mean_absolute_error(preds, y_test))}')

MAE : 2.5934435144875594
MSE: 1.6104171864729833

In [ ]:
#label_test = label_test.drop(cols_to_drop, axis = 1)
label_test.shape

(1013, 69)

In [ ]:
predictions = model.predict(label_test)

In [ ]:
sub_file = ss.copy()
sub_file['target'] = predictions

In [ ]:
sub_file.to_csv('submissions/76th_submission.csv', index = False)

In [ ]:
corr_matrix = label_train_1[dw_cols].corr().abs()
mask = np.triu(np.ones_like(corr_matrix, dtype = bool))

#Columns with highly correlated features. (r > 0.6)
to_drop = [col for col in label_train_1[dw_cols].columns if any (label_train_1[col] >  0.90)]
to_drop

0        0
1       42
2       53
3       64
4       75
        ..
2817     0
2818    42
2819    53
2820    64
2821    75
Length: 2822, dtype: int64